.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 20em;
}

.input {
    margin: 0.5em 0;
    height: 2em;
    width: 100%;
    padding: .5 em;
    box-sizing: border-box;
}

.error {
    color: red;
    margin: 0.2em 0;
}

.success {
    color: green;
}